# 1) Find the mean of old scheme and new scheme column.

In [2]:
#Reading the file
import pandas as pd
titan = pd.read_csv('titan_insurance.csv')

In [3]:
titan.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [18]:
#mean of old scheme and new scheme
means = titan.describe().loc[['mean'],['Old Scheme (in thousands)', 'New Scheme (in thousands)']]
means

      Old Scheme (in thousands)  New Scheme (in thousands)
mean                  68.033333                  72.033333

# 2) Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [55]:
# To check if the data is normally distributed
import numpy as np
from scipy.stats import ttest_1samp, wilcoxon,shapiro,ttest_ind
from statsmodels.stats.power import ttest_power

In [37]:
new_scheme = titan[['New Scheme (in thousands)']]
old_scheme = titan[['Old Scheme (in thousands)']]
new_scheme.mean()

New Scheme (in thousands)    72.033333
dtype: float64

In [47]:
diff_array = np.asarray(new_scheme) - np.asarray(old_scheme)
print(diff_array)

[[  5]
 [ 19]
 [ -5]
 [  7]
 [  0]
 [ 13]
 [ -3]
 [ -6]
 [ -6]
 [ 25]
 [ 17]
 [ 21]
 [ 21]
 [-14]
 [ -7]
 [ 19]
 [ -7]
 [-34]
 [ -7]
 [ 13]
 [ 13]
 [  9]
 [-11]
 [ 11]
 [ 18]
 [-19]
 [  8]
 [ -7]
 [  9]
 [ 18]]

In [9]:
shapiro(new_scheme)

(0.9687565565109253, 0.5057374835014343)

In [48]:
shapiro(diff_array)

(0.9396393299102783, 0.08894704282283783)

*Shapiro test shows that the shapiro wilk (W) is close to 1 and since p > 0.05, it is a clear indicator that we cannot reject null hypothesis that New_scheme and difference array are normally distributed.*

*Hypothesis*

H0 : There is no change in mean in new scheme, mu of the difference = 0

H1 : There is an increase in mean , mu of the difference in new and old scheme > 0

In [46]:
t_statistic, p_value = ttest_1samp(diff_array, 0)
print(t_statistic,p_value)

[1.55591438] [0.13057554]

In [49]:
#p value = p/2 , since we are looking for one tailed.
p = p_value/2
p

array([0.06528777])

**Since p > 0.05 significance, we fail to reject H0**

# 3) What conclusion does the test (p-value) lead to?

**p > 0.05 which means the probability of a sample to have a mean difference of greater than 0 given H0 is true is more than 5%**

**Thus, we cannot reject the fact that there was no significant increase in new scheme**

# 4) Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

# a) The probability of a type 1 error?

In [ ]:
The probablity of type 1 error is the significance level we have set which is 0.05 considering the risks and the cost of commiting the type 1 error.

# b) What is the p- value of the hypothesis test if we test for a difference of $5000?

In [ ]:
H0 : mu of the difference <= 5 in thousands

H1 : There is an increase in mean , mu of the difference in new and old scheme > 5 in thousands

In [51]:
diff_array.mean()

4.0

In [58]:
t_statistic, p_value = ttest_1samp(diff_array, 5)
print(t_statistic,p_value)

[-0.3889786] [0.70013349]

In [ ]:
since p >> 0.05 we fail to reject the null hypothesis that the new scheme is not able to break even.

#  c) Power of the test

In [63]:
old_scheme_mean = np.mean(np.asarray(old_scheme))
new_scheme_mean = np.mean(np.asarray(new_scheme))
old_scheme_std  = np.std(np.asarray(old_scheme))
new_scheme_std = np.std(np.asarray(new_scheme))
effect_size = (old_scheme_mean - new_scheme_mean)/((old_scheme_std+new_scheme_std)/2)
effect_size

-0.18277311367308047

In [66]:
print(ttest_power(0.18277311367308047, nobs=30, alpha=0.05, alternative='larger'))

0.2523644831302556